@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #FFAA00, #806A40);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #352c1b79;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #404580;
    text-align: center;
    text-shadow: 1px 1px 0px #20223f;
}

h2 {
    color: #00B6FF;
}

p {
    text-align: justify;
}